{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.firstName }}</td>
                    <td>{{ record.lastName }}</td>
                    <td>{{ record.address }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}